body {
    background-color: lightgreen;
}


h1 {
    text-align: center;
}


.images {
    display:flex;
    justify-content: center;
    gap: 20px;
}


.icons {
    border-radius: 500px;
    border:  1px solid black;
}


.buttons button {
    padding: 10px 20px;
}


.buttons {
    display:flex;
    justify-content: space-evenly;
    gap: 130px;
    margin-top: 10px;;
}


.resultdiv {
    padding: 50px;
    text-align: center;
}